@tailwind base;
@tailwind components;
@tailwind utilities;
.mainLogo {
  height: 70px;
  width: auto;
 
  object-fit: cover;
}
.card-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .material-text {
    animation: slideInLeft 0.5s forwards;
  }
  
  .c-responsive-image-sc {
    position: relative;
    height: 268px;
    width: 98%;
    object-fit: cover;
    transition: height 0.3s ease;
  }
  
  .c-responsive-image-sc.h-expanded {
    height: 70vh !important;
  }
  
  .responsive-image-sc {
    height: 168px;
    width: 100%;
    object-fit: cover;
  }
  
  .hi-expanded {
    height: 70vh !important;
  }
  
  .btn-mt-2 {
    margin-top: -10px !important;
  }
  
  .gradient-bottom-to-top {
    background: linear-gradient(to top, black, transparent, transparent);
  }
  
  .group-hover\:opacity-100 {
    opacity: 1;
  }
  
  .materialCard span {
    display: none;
  }
  
  .materialCard.gradient-bottom-to-top span {
    display: block;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
  }
  
  @media (min-width: 1024px) {
    .c-responsive-image-sc {
      height: 400px;
      width: 50%;
    }
    .responsive-image-sc {
      height: 300px;
    }
  }
  
  @media (max-width: 600px) {
    .mainLogo {
      height: 50px;
      width: auto;
     
      object-fit: cover;
  }
  }
 
  