@tailwind base;
@tailwind components;
@tailwind utilities;
.mainLogo {
  height: 70px;
  width: auto;
 
  object-fit: cover;
}
.card-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  }

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  .c-responsive-image-sc {
    position: relative;
    height: 268px;
    width: 98%;
    object-fit: cover;
    transition: height 0.3s ease;
    margin-bottom: 0;
  }
  
  .c-responsive-image-sc.h-expanded {
    height: 70vh !important;
  }
  
  .responsive-image-sc {
    height: 168px;
    width: 100%;
    object-fit: cover;
  }
  
  .hi-expanded {
    height: 70vh !important;
  }
  
  .btn-mt-2 {
    margin-top: -10px !important;
  }
  
  .gradient-bottom-to-top {
    background: linear-gradient(to top, black, transparent, transparent);
  }
  
  @media (min-width: 1024px) {
    .c-responsive-image-sc {
      height: 400px;
      width: 50%;
    }
    .responsive-image-sc {
      height: 300px;
    }
  }
  
  @media (max-width: 600px) {
    .mainLogo {
      height: 50px;
      width: auto;
     
      object-fit: cover;
  }

  }
 
  .BorderedSqrCard{
    border-radius: 10px;
    border:2px solid #d1cccc;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 5px;
  }
  .BorderedSqrCard img{
    border-radius: 5px;
  }
 .boxShadow{
  box-shadow:0 2px 13px 3px rgba(0, 0, 0, 0.3);
 }

 .shareOrder {
  padding: 10px 20px;
 }